<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
 <%= image_tag "mitimiti.png", alt: "mitimiti",width: 80 %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Who we are", whoweare_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Surf", surf_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Store", store_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Art Gallery", artgallery_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Contact us", contact_path, class: "nav-link" %>
      </li>

    </ul>
  </div>
</div>
