
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 gallery-p ">
      <p>
        “My art is a homage to my surroundings and my day to day life. All my artistic creations are fully related to the ocean and all the positive vibes and energy that it radiates on the people and life in general. The peacefulness of the sea and the chaos that the ocean can generates are the main sources of inspiration for me; it is the perfect balance between the colorful and energetic rhythm we find in the sea. My art is a vision of a wonderful weather with a taste of a salty air.
        My art is a cocktail of drawings that are full of visual emotions. “
      </p>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('galeria1') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('galeria2') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('galeria3') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 gallery-pic g " style="background-image:url(<%= asset_path('galeria4') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('galeria5') %>;">
    </div>

  </div>
</div>



