<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store1.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y"style="background-image:url(<%= asset_path('store2.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g"style="background-image:url(<%= asset_path('store3.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g"style="background-image:url(<%= asset_path('store4.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y"style="background-image:url(<%= asset_path('store5.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store6.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y"style="background-image:url(<%= asset_path('store7.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store8.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store10.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y"style="background-image:url(<%= asset_path('store11.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g"style="background-image:url(<%= asset_path('store12.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g"style="background-image:url(<%= asset_path('store13.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y"style="background-image:url(<%= asset_path('store14.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store15.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y"style="background-image:url(<%= asset_path('162.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store2.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g"style="background-image:url(<%= asset_path('store17.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store18.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y"style="background-image:url(<%= asset_path('store19.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g"style="background-image:url(<%= asset_path('store20.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g"style="background-image:url(<%= asset_path('store21.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store23.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y"style="background-image:url(<%= asset_path('store24.jpg') %>);"></div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r"style="background-image:url(<%= asset_path('store25.jpg') %>);"></div>



  </div>
</div>
<%= render "shared/footer" %>




