<div class="container-fuild">
  <div class="row justify-content-center">

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store1') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('store2') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g" style="background-image:url(<%= asset_path('store3') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g" style="background-image:url(<%= asset_path('store4') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('store5') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store6') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('store7') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store8') %>;">
    </div>

   <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store10') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('store11') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g" style="background-image:url(<%= asset_path('store12') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g" style="background-image:url(<%= asset_path('store13') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('store14') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store15') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('store16') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store2') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g" style="background-image:url(<%= asset_path('store17') %>;">
    </div>

 <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store18') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('store19') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g" style="background-image:url(<%= asset_path('store20') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic g" style="background-image:url(<%= asset_path('store21') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store23') %>;">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic y" style="background-image:url(<%= asset_path('store24') %>;">
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 gallery-pic r" style="background-image:url(<%= asset_path('store25') %>;">
    </div>





</div>
</div>



